* {
  outline: none;
}

form input, form textarea, form select {
  outline: 1px dotted #99cc00;
  background-color: #f4f4f4;
}

input {
  margin: 5px;
  vertical-align: middle;
}

input.onfocus_clear {
  color: #bbbbbb;
}

fieldset {
  margin-top: 10px;
}

fieldset legend {
  font-weight: bold;
}

form .field_description {
  margin-left: 15px;
  margin-bottom: 5px;
  color: #aaaaaa;
}

span.label {
  color: #aaaaaa;
}

input[type="radio"] {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  outline: none;
}

ul {
  list-style-type: none;
}

table.form tr td:first-child {
  text-align: right;
}

.gray {
  color: #aaaaaa;
}

.float_left {
  float: left;
}

.flash {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 5px;
}

.notice {
  outline: 2px dashed #ffdd00;
}

.error {
  outline: 2px dashed #ff0000;
}

.clear {
  clear: both;
}

#breadcrumbs {
  margin-bottom: 15px;
}

#instruments .instrument {
  border-bottom: 1px solid #eeeeee;
  position: relative;
}

#instruments .instrument:first-child {
  border-top: 1px solid #eeeeee;
}

#instruments .instrument:hover {
  background-color: #FCFFDB;
}

#instruments .instrument div {
  float: left;
}

#instrument .instrument .model {
  position: relative;
}

#instruments .instrument .model a {
  font-size: 1em;
  font-weight: bold;
  float: left;
}

#instruments .instrument .location {
  margin-left: 5px;
  margin-left: 5px;
  position: relative;
}

#instruments .instrument .data_links {
  right: 0;
  float: none;
  position: absolute;
  margin-left: 5px;
}

table.data th {
  padding-right: 10px;
  text-align: left;
}

table.data td {
  padding-right: 10px;
}

table.parameters {
}

table.parameters td.param {
  font-family: monospace;
  font-size: 120%;
  width: 100px;
}
table.parameters td.type {
  font-style: italic;
  width: 75px;
}
table.parameters td.desc {
  
}
span.pre {
  font-family: monospace;
  font-size: 120%;
}
