* {
  outline: none;
}

form input, form textarea, form select {
  outline: 1px dotted #99cc00;
  background-color: #f4f4f4;
}

.flash {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 5px;
}

.notice {
  outline: 2px dashed #ffdd00;
}

.error {
  outline: 2px dashed #ff0000;
}

.clear {
  clear: both;
}

input {
  margin: 5px;
}

fieldset {
  margin-top: 10px;
}

fieldset legend {
  font-weight: bold;
}

form .field_description {
  margin-left: 15px;
  margin-bottom: 5px;
  color: #aaaaaa;
}

span.label {
  color: #aaaaaa;
}

input[type="radio"] {
  vertical-align: middle;
  float: left;
  margin-right: 10px;
  outline: none;
}
