body {
  padding: 0;
  margin: 0;
  font-family: Helvetica, sans-serif;
  font-size: 0.8em;
}

h1 {
  font-size: 1.3em;
}

a {
  text-decoration: none;
  color: #00aa00;
}

#head {
  top: 0px;
  width: 100%;
  background-color: black;
  height: 100px;
  position: relative;
}

#head .container {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
}

#head a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
}

#head > #logo {
  float: left;
  width: 80px;
}

#navigation {
  position: relative;
  bottom: 0px;
}

#navigation > ul > li {
  float: left;
  list-style: none inside;
  margin-left: 10px;
}

#message {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
}

#message > .notice {
  background-color: #ffffaa;
  padding: inherit;
}

#message > .alert {
  background-color: #ffaaaa;
}

#content {
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.clear {
  clear: both;
}

#instruments .model {
  font-weight: bold;
  margin-top: 20px;
}

