/* line 17, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../../../usr/local/rvm/gems/ruby-1.9.2-p136@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, ../../app/stylesheets/geiger.scss */
body {
  background-color: #e2e2e2;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  margin: 0;
}

/* line 29, ../../app/stylesheets/geiger.scss */
a {
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  color: #5b5b5b;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.33);
  font-weight: bold;
}
/* line 35, ../../app/stylesheets/geiger.scss */
a:hover {
  color: #000;
  background-color: #FEE100;
}

/* line 41, ../../app/stylesheets/geiger.scss */
b, strong {
  font-weight: bold;
}

/* line 45, ../../app/stylesheets/geiger.scss */
::selection {
  background: #FDD800;
  color: #000;
}

/* line 50, ../../app/stylesheets/geiger.scss */
::-moz-selection {
  background: #FDD800;
  color: #000;
}

/* line 55, ../../app/stylesheets/geiger.scss */
::-webkit-selection {
  background: #FDD800;
  color: #000;
}

/* line 60, ../../app/stylesheets/geiger.scss */
header, nav {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 0;
}

/* line 68, ../../app/stylesheets/geiger.scss */
header {
  margin-top: 20px;
}
/* line 71, ../../app/stylesheets/geiger.scss */
header #logo #image {
  border: none;
}

/* line 77, ../../app/stylesheets/geiger.scss */
nav {
  margin: 30px auto 30px auto;
}
/* line 79, ../../app/stylesheets/geiger.scss */
nav ul {
  list-style-type: none;
  display: inline;
}
/* line 83, ../../app/stylesheets/geiger.scss */
nav ul li {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Francois One", arial, serif;
}
/* line 90, ../../app/stylesheets/geiger.scss */
nav ul li a {
  color: #202020;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.33);
  padding: 2px;
}
/* line 95, ../../app/stylesheets/geiger.scss */
nav ul li a:hover {
  color: #000;
  background-color: #FEE100;
}

/* line 104, ../../app/stylesheets/geiger.scss */
#flash {
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
}
/* line 110, ../../app/stylesheets/geiger.scss */
#flash .alert, #flash .notice {
  background-color: #fff;
  padding: 10px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  color: #202020;
  text-shadow: none;
  font-family: "Francois One", arial, serif;
}
/* line 120, ../../app/stylesheets/geiger.scss */
#flash .alert {
  background-color: #FEE100;
}
/* line 124, ../../app/stylesheets/geiger.scss */
#flash .notice {
  background-color: #689E00;
  color: #fff;
}

/* line 131, ../../app/stylesheets/geiger.scss */
#container {
  text-align: center;
  width: 760px;
  margin: 0 auto 0 auto;
  overflow: hidden;
  padding: 20px 0 100px 0;
  background: #e9e9e9;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bg-color', endColorstr='$document-color');
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#e9e9e9), to(#e2e2e2));
  /* for webkit browsers */
  background: -moz-linear-gradient(bottom, #e2e2e2, #e9e9e9);
  /* for firefox 3.6+ */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
/* line 145, ../../app/stylesheets/geiger.scss */
#container #content.errors {
  text-align: center !important;
  margin-top: 50px;
}
/* line 150, ../../app/stylesheets/geiger.scss */
#container #content {
  text-align: left;
  font-size: 13px;
  color: #5b5b5b;
  text-shadow: 0 -1px 0 white;
  margin: 20px 40px 40px 40px;
}
/* line 157, ../../app/stylesheets/geiger.scss */
#container #content p {
  line-height: 18px;
  margin-bottom: 20px;
}
/* line 162, ../../app/stylesheets/geiger.scss */
#container #content .title {
  color: #202020;
  font-weight: bold;
  font-size: 25px;
  font-family: "Francois One", arial, serif;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  word-spacing: 8px;
  margin-bottom: 50px;
  text-align: center;
  border: none;
  margin: 10px 0 40px 0;
}
/* line 176, ../../app/stylesheets/geiger.scss */
#container #content h1 {
  color: #202020;
  font-weight: bold;
  font-size: 20px;
  font-family: "Francois One", arial, serif;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  word-spacing: 8px;
  border-bottom: 1px solid #ccc;
  margin: 40px 0 20px 0;
  padding-bottom: 5px;
}
/* line 189, ../../app/stylesheets/geiger.scss */
#container #content h2 {
  color: #303030;
  font-size: 15px;
  font-family: "Francois One", arial, serif;
  text-transform: uppercase;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  word-spacing: 8px;
  margin: 20px 0 10px 0;
}
/* line 198, ../../app/stylesheets/geiger.scss */
#container #content h2 a {
  color: #303030;
}
/* line 203, ../../app/stylesheets/geiger.scss */
#container #content #breadcrumbs {
  color: #2D6000;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ccc;
  margin: 20px 0 20px 0;
  padding-bottom: 15px;
}
/* line 212, ../../app/stylesheets/geiger.scss */
#container #content #breadcrumbs a {
  font-weight: normal;
  color: #303030;
  font-size: 15px;
  font-family: "Francois One", arial, serif;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
  margin: 20px 0 10px 0;
}
/* line 223, ../../app/stylesheets/geiger.scss */
#container #content dl.api, #container #content dl.urls {
  padding: 0 20px;
  margin-top: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 227, ../../app/stylesheets/geiger.scss */
#container #content dl.api dt, #container #content dl.urls dt {
  font-family: Courier;
  width: 100px;
  clear: left;
  float: left;
}
/* line 234, ../../app/stylesheets/geiger.scss */
#container #content dl.api dd, #container #content dl.urls dd {
  float: left;
  margin-bottom: 20px;
  width: 620px;
}
/* line 242, ../../app/stylesheets/geiger.scss */
#container #content dl.urls dt {
  width: 200px;
}
/* line 245, ../../app/stylesheets/geiger.scss */
#container #content dl.urls dd {
  width: 520px;
}
/* line 250, ../../app/stylesheets/geiger.scss */
#container #content table {
  width: 100%;
  margin: 0 0 10px 0;
}
/* line 253, ../../app/stylesheets/geiger.scss */
#container #content table thead {
  border: 1px solid #E3E3E3;
}
/* line 256, ../../app/stylesheets/geiger.scss */
#container #content table thead tr th {
  padding: 10px;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  text-shadow: 0 1px 0 #eee;
  background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border-bottom: none;
}
/* line 267, ../../app/stylesheets/geiger.scss */
#container #content table thead tr th.c {
  text-align: center;
}
/* line 271, ../../app/stylesheets/geiger.scss */
#container #content table thead tr th.r {
  text-align: right;
}
/* line 275, ../../app/stylesheets/geiger.scss */
#container #content table thead tr th.actions {
  width: 80px;
  text-align: center;
}
/* line 284, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr.odd {
  background-color: #F5F5F5;
}
/* line 288, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr.even {
  background-color: #ffffff;
}
/* line 292, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr {
  border-bottom: 1px solid #DCDCDC;
}
/* line 295, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr:hover {
  background-color: #E5E5E5;
}
/* line 299, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr td {
  padding: 10px;
  color: #333;
  font-size: 10px;
  font-weight: bold;
  text-shadow: 0 1px 0 #eee;
}
/* line 306, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr td a {
  text-decoration: none;
  color: #1B66C5;
}
/* line 312, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr td.c {
  text-align: center;
}
/* line 316, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr td.r {
  text-align: right;
}
/* line 320, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr td.action {
  width: 20px;
  text-align: center;
}
/* line 325, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr td.actions {
  width: 80px;
  text-align: center;
}
/* line 329, ../../app/stylesheets/geiger.scss */
#container #content table tbody tr td.actions a {
  margin: 0 4px;
}
/* line 337, ../../app/stylesheets/geiger.scss */
#container #content dl {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 341, ../../app/stylesheets/geiger.scss */
#container #content dl dt {
  display: inline;
  margin-bottom: 2px;
  padding-left: 2px;
  color: #312824;
  font-weight: bold;
}
/* line 349, ../../app/stylesheets/geiger.scss */
#container #content dl dd {
  font-size: 14px;
  margin-top: 5px;
  border-bottom: 1px solid #ccc;
  margin-bottom: 15px;
  padding-bottom: 10px;
  padding-left: 2px;
}
/* line 360, ../../app/stylesheets/geiger.scss */
#container #content #google_map {
  border: 4px solid #CFCFCF;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin: 20px 0;
}
/* line 366, ../../app/stylesheets/geiger.scss */
#container #content form {
  text-align: center;
}
/* line 369, ../../app/stylesheets/geiger.scss */
#container #content form .textfield {
  background-color: #fff;
  padding: 8px;
  border: none;
  width: 320px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  margin: 10px auto 8px auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 379, ../../app/stylesheets/geiger.scss */
#container #content form p {
  margin: 10px 0;
}
/* line 383, ../../app/stylesheets/geiger.scss */
#container #content form .instructions {
  margin-top: 20px;
  font-family: "Francois One", arial, serif;
  color: #202020;
}
/* line 389, ../../app/stylesheets/geiger.scss */
#container #content form fieldset {
  text-align: center;
}
/* line 392, ../../app/stylesheets/geiger.scss */
#container #content form fieldset legend {
  font-family: "Francois One", arial, serif;
  color: #202020;
  text-transform: uppercase;
  text-align: center;
}
/* line 399, ../../app/stylesheets/geiger.scss */
#container #content form fieldset h2 {
  color: #5b5b5b;
}
/* line 404, ../../app/stylesheets/geiger.scss */
#container #content form textarea {
  border: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 10px;
}
/* line 410, ../../app/stylesheets/geiger.scss */
#container #content form .formcontainer {
  margin: 30px 0 10px 0;
}
/* line 413, ../../app/stylesheets/geiger.scss */
#container #content form .formcontainer ul.location_change {
  width: 450px;
  text-align: center;
  margin: 0 auto;
}
/* line 418, ../../app/stylesheets/geiger.scss */
#container #content form .formcontainer ul.location_change li {
  margin-bottom: 10px;
  text-align: center;
}
/* line 422, ../../app/stylesheets/geiger.scss */
#container #content form .formcontainer ul.location_change li input[type='radio'] {
  margin-bottom: 10px;
}
/* line 429, ../../app/stylesheets/geiger.scss */
#container #content form label {
  color: #000;
  text-transform: uppercase;
  font-family: "Francois One", arial, serif;
  text-align: right;
  display: block;
  float: left;
  width: 75px;
  border-right: 1px solid #000;
  padding-right: 10px;
}
/* line 441, ../../app/stylesheets/geiger.scss */
#container #content form label.loooong {
  font-size: 10px;
}
/* line 445, ../../app/stylesheets/geiger.scss */
#container #content form input[type='text'], #container #content form input[type='password'] {
  float: left;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  border: none;
  margin-left: 10px;
  font-family: "Francois One", arial, serif;
  margin-top: -2px;
  font-size: 10px;
  width: 220px;
}
/* line 456, ../../app/stylesheets/geiger.scss */
#container #content form input[type='text'].search {
  color: #ff0000;
  text-transform: uppercase;
  font-size: 12px;
  width: 150px;
}
/* line 463, ../../app/stylesheets/geiger.scss */
#container #content form select {
  float: left;
  border: none;
  margin-left: 10px;
  font-family: "Francois One", arial, serif;
  margin-top: -2px;
  font-size: 10px;
  width: 220px;
  background-color: #fff;
}
/* line 474, ../../app/stylesheets/geiger.scss */
#container #content form input[type='submit'], #container #content form input[type='button'] {
  background: #eee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  padding: 10px 7px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
}
/* line 491, ../../app/stylesheets/geiger.scss */
#container #content form input[type='submit'] {
  margin-top: 20px;
}
/* line 495, ../../app/stylesheets/geiger.scss */
#container #content form input[type='button'] {
  padding: 2px;
}
/* line 499, ../../app/stylesheets/geiger.scss */
#container #content form input[type='submit']:hover, #container #content form input[type='button']:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
/* line 509, ../../app/stylesheets/geiger.scss */
#container #content form input[type='submit']:active, #container #content form input[type='button']:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
/* line 518, ../../app/stylesheets/geiger.scss */
#container #content #searchdata {
  background-color: #D1D1D1;
  text-align: center !important;
  margin: -20px -40px 20px -40px;
  /* FIXME */
  padding: 10px;
  overflow: hidden;
  *zoom: 1;
}
/* line 526, ../../app/stylesheets/geiger.scss */
#container #content #searchdata form {
  text-align: center;
  margin: 0 auto;
}
/* line 531, ../../app/stylesheets/geiger.scss */
#container #content #searchdata label {
  width: 50px;
  padding-right: 5px;
}
/* line 536, ../../app/stylesheets/geiger.scss */
#container #content #searchdata .textfield {
  width: 200px;
  float: left;
  margin: 0 4px;
}
/* line 541, ../../app/stylesheets/geiger.scss */
#container #content #searchdata .textfield input[type='text'] {
  width: auto;
}
/* line 547, ../../app/stylesheets/geiger.scss */
#container #content #searchdata .location input {
  color: #ff0000;
  text-transform: uppercase;
}
/* line 553, ../../app/stylesheets/geiger.scss */
#container #content #searchdata .datetime {
  width: 160px;
}
/* line 556, ../../app/stylesheets/geiger.scss */
#container #content #searchdata .datetime label {
  width: 40px;
}
/* line 560, ../../app/stylesheets/geiger.scss */
#container #content #searchdata .datetime input {
  color: #135CDE;
}
/* line 565, ../../app/stylesheets/geiger.scss */
#container #content #searchdata .historical {
  width: 105px;
  float: left;
  padding: 8px 0 0 0;
  margin-left: -10px;
}
/* line 571, ../../app/stylesheets/geiger.scss */
#container #content #searchdata .historical label {
  border: none;
  float: none;
  display: inline;
}
/* line 581, ../../app/stylesheets/geiger.scss */
#container #content #searchdata input[type='text'], #container #content #searchdata input[type='password'] {
  margin-left: 5px;
}
/* line 585, ../../app/stylesheets/geiger.scss */
#container #content #searchdata input[type='submit'] {
  margin: 0;
  text-transform: uppercase;
  float: left;
  padding: 8px;
  margin-top: 0;
}
/* line 595, ../../app/stylesheets/geiger.scss */
#container #content #datasources .datasource {
  overflow: hidden;
  *zoom: 1;
  border-bottom: 1px solid #ccc;
  padding: 30px 0;
}
/* line 600, ../../app/stylesheets/geiger.scss */
#container #content #datasources .datasource .name {
  width: 160px;
  float: left;
  font-weight: bold;
  font-family: "Francois One", arial, serif;
  font-size: 15px;
  text-align: left;
}
/* line 607, ../../app/stylesheets/geiger.scss */
#container #content #datasources .datasource .name a.instruments {
  color: #303030;
  font-size: 10px;
}
/* line 611, ../../app/stylesheets/geiger.scss */
#container #content #datasources .datasource .name a.instruments:hover {
  color: #2D6000;
}
/* line 617, ../../app/stylesheets/geiger.scss */
#container #content #datasources .datasource .description {
  float: left;
  width: 500px;
  margin-left: 20px;
}
/* line 622, ../../app/stylesheets/geiger.scss */
#container #content #datasources .datasource .description a.source_url {
  display: block;
  margin-bottom: 10px;
  text-shadow: none;
  color: #2D6000;
}
/* line 632, ../../app/stylesheets/geiger.scss */
#container #content .team {
  margin-top: 40px;
  padding-top: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 637, ../../app/stylesheets/geiger.scss */
#container #content .team .members {
  clear: both;
}
/* line 639, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member {
  float: left;
  width: 335px;
  margin-bottom: 30px;
}
/* line 645, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .picture {
  float: left;
  width: 70px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  -khtml-border-radius: 4px;
  border-radius: 4px;
  margin-right: 20px;
  text-align: center;
}
/* line 653, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .metadata {
  float: left;
  width: 220px;
}
/* line 657, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .metadata span {
  display: block;
}
/* line 661, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .metadata .name {
  font-size: 17px;
  font-weight: bold;
  color: #222222;
  margin-bottom: 10px;
  font-family: "Francois One", arial, serif;
  text-transform: uppercase;
}
/* line 670, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .metadata .career {
  font-size: 13px;
}
/* line 674, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .metadata .buttons {
  margin-top: 10px;
}
/* line 677, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .metadata .buttons a {
  background: #eee;
  background: -moz-linear-gradient(top, #eeeeee 0%, #cccccc 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eeeeee), to(#cccccc));
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  color: #333;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  font-size: 9px;
  font-weight: bold;
  line-height: 1;
  padding: 4px 7px;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  margin-right: 5px;
}
/* line 694, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .metadata .buttons a:hover {
  background: #ddd;
  background: -moz-linear-gradient(top, #dddddd 0%, #bbbbbb 100%);
  background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#dddddd), to(#bbbbbb));
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  cursor: pointer;
  text-shadow: 0 1px 0 #ddd;
}
/* line 704, ../../app/stylesheets/geiger.scss */
#container #content .team .members .member .metadata .buttons a:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -moz-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  -webkit-box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
  box-shadow: inset 0 0 5px 2px #aaa, 0 1px 0 0 #eee;
}
/* line 717, ../../app/stylesheets/geiger.scss */
#container #content .team .members .rside {
  margin-left: 30px;
}

/* line 726, ../../app/stylesheets/geiger.scss */
#subfooter {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  margin: 0 auto 20px auto;
}
/* line 733, ../../app/stylesheets/geiger.scss */
#subfooter ul.loginmenu {
  list-style-type: none;
}
/* line 736, ../../app/stylesheets/geiger.scss */
#subfooter ul.loginmenu li {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: "Francois One", arial, serif;
  font-size: 10px;
}
/* line 743, ../../app/stylesheets/geiger.scss */
#subfooter ul.loginmenu li a {
  color: #202020;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.33);
}
/* line 747, ../../app/stylesheets/geiger.scss */
#subfooter ul.loginmenu li a:hover {
  color: #F09800;
}

/* line 755, ../../app/stylesheets/geiger.scss */
footer {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  margin: 40px auto 100px auto;
}
/* line 762, ../../app/stylesheets/geiger.scss */
footer ul.navigation {
  list-style-type: none;
  display: inline;
}
/* line 766, ../../app/stylesheets/geiger.scss */
footer ul.navigation li {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: "Francois One", arial, serif;
  font-size: 10px;
}
/* line 773, ../../app/stylesheets/geiger.scss */
footer ul.navigation li a {
  color: #202020;
  text-shadow: 0 -1px 0 rgba(255, 255, 255, 0.33);
}
/* line 777, ../../app/stylesheets/geiger.scss */
footer ul.navigation li a:hover {
  color: #F09800;
}
/* line 784, ../../app/stylesheets/geiger.scss */
footer #sublogo {
  margin-top: 40px;
}
