/* line 17, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 115, ../../../../.rvm/gems/ruby-1.9.2-p180@geigercrowd/gems/compass-0.11.1/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 23, ../../app/stylesheets/geiger.scss */
body {
  background-color: #e2e2e2;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
}

/* line 28, ../../app/stylesheets/geiger.scss */
a {
  text-decoration: none;
  color: #2D6000;
}

/* line 33, ../../app/stylesheets/geiger.scss */
::selection {
  background: #FDD800;
  color: #000;
}

/* line 38, ../../app/stylesheets/geiger.scss */
::-moz-selection {
  background: #FDD800;
  color: #000;
}

/* line 43, ../../app/stylesheets/geiger.scss */
::-webkit-selection {
  background: #FDD800;
  color: #000;
}

/* line 48, ../../app/stylesheets/geiger.scss */
header, nav {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  margin-top: 30px;
}

/* line 56, ../../app/stylesheets/geiger.scss */
nav {
  margin: 40px auto 40px auto;
}
/* line 58, ../../app/stylesheets/geiger.scss */
nav ul {
  list-style-type: none;
  display: inline;
}
/* line 62, ../../app/stylesheets/geiger.scss */
nav ul li {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
  font-size: 10px;
  font-family: "Francois One", arial, serif;
}
/* line 69, ../../app/stylesheets/geiger.scss */
nav ul li a {
  color: #202020;
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.33);
}
/* line 73, ../../app/stylesheets/geiger.scss */
nav ul li a:hover {
  color: #F09800;
}

/* line 81, ../../app/stylesheets/geiger.scss */
#container {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  padding: 50px 40px 100px 40px;
  background: #e9e9e9 url("/images/radioactive_sign.png") no-repeat 50% 20px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='$bg-color', endColorstr='$document-color') url("/images/radioactive_sign.png") no-repeat 50% 20px;
  /* for IE */
  background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#e9e9e9)) url("/images/radioactive_sign.png") no-repeat 50% 20px;
  /* for webkit browsers */
  background: -moz-linear-gradient(bottom, #e2e2e2, #e9e9e9) url("/images/radioactive_sign.png") no-repeat 50% 20px;
  /* for firefox 3.6+ */
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -o-border-radius: 6px;
  -ms-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
}
/* line 94, ../../app/stylesheets/geiger.scss */
#container #content {
  text-align: left;
  font-size: 13px;
  color: #5b5b5b;
  text-shadow: 0px -1px 0px white;
}
/* line 100, ../../app/stylesheets/geiger.scss */
#container #content p {
  line-height: 18px;
}
/* line 104, ../../app/stylesheets/geiger.scss */
#container #content .title {
  color: #202020;
  font-weight: bold;
  font-size: 25px;
  font-family: "Francois One", arial, serif;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.33);
  word-spacing: 8px;
  margin-bottom: 50px;
  text-align: center;
  border: none;
  margin: 10px 0 80px 0;
}
/* line 118, ../../app/stylesheets/geiger.scss */
#container #content h1 {
  color: #202020;
  font-weight: bold;
  font-size: 20px;
  font-family: "Francois One", arial, serif;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.33);
  word-spacing: 8px;
  border-bottom: 1px solid #ccc;
  margin: 40px 0 20px 0;
  padding-bottom: 5px;
}
/* line 131, ../../app/stylesheets/geiger.scss */
#container #content h2 {
  color: #303030;
  font-size: 15px;
  font-family: "Francois One", arial, serif;
  text-transform: uppercase;
  text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.33);
  word-spacing: 8px;
  margin: 20px 0 10px 0;
}
/* line 140, ../../app/stylesheets/geiger.scss */
#container #content h2 a {
  color: #303030;
}
/* line 145, ../../app/stylesheets/geiger.scss */
#container #content dl.api, #container #content dl.urls {
  padding: 0px 20px;
  margin-top: 20px;
  overflow: hidden;
  *zoom: 1;
}
/* line 149, ../../app/stylesheets/geiger.scss */
#container #content dl.api dt, #container #content dl.urls dt {
  font-family: Courier;
  width: 100px;
  clear: left;
  float: left;
}
/* line 156, ../../app/stylesheets/geiger.scss */
#container #content dl.api dd, #container #content dl.urls dd {
  float: left;
  margin-bottom: 20px;
  width: 620px;
}
/* line 164, ../../app/stylesheets/geiger.scss */
#container #content dl.urls dt {
  width: 200px;
}
/* line 167, ../../app/stylesheets/geiger.scss */
#container #content dl.urls dd {
  width: 520px;
}

/* line 174, ../../app/stylesheets/geiger.scss */
footer {
  text-align: center;
  width: 760px;
  margin: 0 auto;
  overflow: hidden;
  margin: 40px auto 100px auto;
}
/* line 181, ../../app/stylesheets/geiger.scss */
footer ul.navigation {
  list-style-type: none;
  display: inline;
}
/* line 185, ../../app/stylesheets/geiger.scss */
footer ul.navigation li {
  display: inline;
  margin: 0 10px;
  text-transform: uppercase;
  font-family: "Francois One", arial, serif;
  font-size: 10px;
}
/* line 192, ../../app/stylesheets/geiger.scss */
footer ul.navigation li a {
  color: #202020;
  text-shadow: 0px -1px 0px rgba(255, 255, 255, 0.33);
}
/* line 196, ../../app/stylesheets/geiger.scss */
footer ul.navigation li a:hover {
  color: #F09800;
}
/* line 203, ../../app/stylesheets/geiger.scss */
footer #sublogo {
  margin-top: 40px;
}
