- if resource.errors.any?
  #error_explanation
    %h4= "#{pluralize(resource.errors.count, 'error')} prohibited this #{resource.class.to_s.downcase} from being saved:"
    %ul
      - resource.errors.full_messages.each do |msg|
        %li= msg
