- if object.errors.any?
  #flash.error
    %h4= "#{pluralize(object.errors.count, 'error')} prohibited this instrument from being saved:"
    %ul
      - object.errors.full_messages.each do |msg|
        %li= msg
- elsif flash[:notice]
  #flash.notice= flash[:notice]
